body {
  font-family: Roboto, sans-serif;
  padding-bottom: 1rem
}

a {
  font-style: none;
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.imageContainer {
  display: block;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}